{% from "icon/icon.njk" import icon %}

<header class="header">
  <div class="layout__container header__container">
    <div class="header__cell">
      <div class="header__logo">
        {% include "logo/logo.njk" %}
      </div>
    </div>
  </div>
</header>
