$text-family = 'Geometria', sans-serif;

$color-black = #000
$color-white = #fff
$color-red = #f77
$color-paris-green = #4ED669
$color-space-cadet = #2B2B51
$color-roman-silver = #808095
$color-brandeis-blue = #0073f1
$color-ash-gray = #b3b3b3
$color-granite-gray = #686868
$color-white-smoke = #f7f7f7
$color-taupe-gray = #888

$offset = 30px
$offset-md = $offset * 2
$offset-xl = $offset-md * 2

$transition-time = .3s

$screen-xxs = 420px
$screen-xs = 768px
$screen-sm = 1024px
$screen-md = 1280px
$screen-lg = 1366px
$screen-xl = 1600px
