{% from "inline-svg/inline-svg.njk" import inlineSvg %}
{% from "icon/icon.njk" import icon %}

<div class="logo">
  <div class="logo__img">
    {{ inlineSvg({ path: 'assets/images/svg/logo.svg' }) }}
    {{ icon({ name: 'arr' }) }}
  </div>
  <div class="logo__text">БКС брокер</div>
</div>
